<div class="sign-up">
  <form action="/signup" method="POST">
    <div class="sign-user">

      <label>Username</label>
      <input type="text" name="username" required>

      <label>Email</label>
      <input type="email" name="email" required>

      <label>Password</label>
      <input type="password" name="password" required>
      <br>
      <button type="submit">Create account</button>
    </div>

    {{#if errorMessage}}
    <div>{{errorMessage}}</div>
    {{/if}}

  </form>
</div>