<h2>Signup</h2>

<div class="form">
<form action="/signup" method="POST">
  <label>Username</label>
  <input type="text" name="username" placeholder="Be creative!" required>

  <label>Email</label>
  <input type="email" name="email" placeholder="Your trash email :)" required>

  <label>Password</label>
  <input type="password" name="password" placeholder="Shhh! It's a secret" required>

  <button type="submit">Create account</button>

  {{#if errorMessage}}
  <div>{{errorMessage}}</div>
  {{/if}}

</form>
</div>