<div class="info-bg">
  <div class="info-text">
    <h1 style="font-size: 80px;">Greetings
      <br> 
      Trainer!</h1>
    <div class="small-text">
    <p>Welcome to your very own Pokemon Card Collection repository.</p>
    <p>Take hold of new cards by opening boosters and showcase them on your collection area.</p>
    </div>
    <div>
    <p class="gotta-catch">Remember... gotta catch 'em all!</p>
    </div>
  </div>
</div>