<div class="info-bg">
  <div class="info-text">
    <h1 style="font-size: 80px;">Greetings Trainer!</h1>
    <div class="small-text">
    <p>Welcome to your very own Pokemon Card Collection repository.</p>
    <p>Take hold of new cards by opening boosters and showcase them on your collection area.</p>
    </div>
    <h2 style="color: rgba(12, 12, 206, 0.863);">Remember... gotta catch 'em all!</h2>
  </div>
</div>