.style-nav {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: large;
  padding: 10px;
}

.hidden {
  display: none;
}

#collection-btn {
	background:linear-gradient(to bottom, #e01d1d 5%, #e33232 100%);
	background-color:#e01d1d;
	border-radius:28px;
	border:1px solid #e81515;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#collection-btn:hover {
	background:linear-gradient(to bottom, #e33232 5%, #e01d1d 100%);
	background-color:#e33232;
}
#collection-btn:active {
	position:relative;
	top:1px;
}

.flex-div-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-div {
display: flex;
}

.brandimg {
  width: 50px;
}

.home {
  background-image: url("https://res.cloudinary.com/dmarmh2vl/image/upload/v1613730491/Project2/logoHome_zguish.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.align-right {
  float: right;
}

.info-bg {
  background-image: url("https://res.cloudinary.com/dmarmh2vl/image/upload/v1613574943/Project2/wallpapersden.com_pokemon-pikachu-art_1920x1080_y7om88.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.info-text {
  position: absolute;
  top: 350px;
  margin-left: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.small-text {
  font-size: 20px;
  margin: 40px 0;
}

.gotta-catch {
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
  color: rgba(12, 12, 206, 0.863);
}

.log-in {
  background-image: url("https://res.cloudinary.com/dmarmh2vl/image/upload/v1613667454/Project2/poke2.1_ngiwdd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.log-user {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  margin-left: 110px;
  width: 350px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  background-color: rgb(139, 228, 139, 0.6);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 0.5em 1em;
}

.log-submit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  border-radius: 24px;
  margin-bottom: 0.5em;
  text-align: center;
  border: 0px solid;
}

.log-user button {
  border-radius: 24px;
  width: 125px;
  border: 1px solid green;
}

.log-submit p {
  font-size: 27px;
}

.sign-up {
  background-image: url("https://res.cloudinary.com/dmarmh2vl/image/upload/v1613734515/Project2/pokmon-1613734152310-2371_knwpb5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

.sign-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
  width: 400px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 27px;
  background-color: #faf4ba;
  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 50%);
  border-radius: 12px;
  padding: 1em;
}

.sign-up button {
  border-radius: 24px;
  width: 200px;
  border: 1px solid;
}

footer {
  background-color: #212529;
  color: white;
}

.home {
  background-image: url("https://res.cloudinary.com/dmarmh2vl/image/upload/v1613742173/Project2/home_q0y6ih.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.collection {
  background-color: rgb(153, 238, 153);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 1em;
}

.boost {
  background-color: rgb(252, 187, 90);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 1em;
}

#footer-big {
  position: sticky;
}

.img-size {
  max-width: 200px;
}
