<div class='flex boost'>
<div class = 'flex-div-column'>
  <img src="https://res.cloudinary.com/dmarmh2vl/image/upload/v1613745993/Project2/Booster-Pack_jjb3da.png" alt="booster">
  <img src="" alt="booster image">
  <a href="/booster/{{booster}}/open" id = 'collection-btn'>Open</a>
</div>
