<h1 class="boost"><img src="https://res.cloudinary.com/dmarmh2vl/image/upload/v1613745993/Project2/Booster-Pack_jjb3da.png" alt="booster"></h1>
<div class='flex'>
<div class = 'flex-div-column'>
  <h1>Booster Pack</h1>
  <img src="" alt="booster image">
  <a href="/booster/{{booster}}/open" id = 'collection-btn'>Open</a>
</div>
