<h1>Card Collection</h1>
<hr>
<!-- {{#each books}}
<h3>
  <a href="/cardCollection/{{id}}">{{title}}</a>
  <a href="/cardCollection/{{id}}/edit">Edit</a>

  <form action="/cardCollection/{{id}}/delete" method="POST">
  <button type="submit">Delete</button>
  </form>
  </h3>
{{/each}}
-->