<h1>My Area</h1>
<div>
  <img src="" alt="profile pic">
    <h2>{{username}}</h2>
  <h3>{{email}}</h3>
  <h3>{{birthDate}}</h3>

  <button type="submit">Edit profile</button>

<!--

espaço para cartas mais fortes e/ou raras 

botão para editar usuário-->

</div>

